
.nav h1{
        float: left;
        color: rgb(246, 200, 94);
        font-size: 37px;
        margin:5px 15px;
        font-family: 'sans-serif';
}
.nav ol{
    list-style: none;
    float:right;       
}
.nav ol li{
  display: inline-block;
  padding: 0px 20px;  
}
.nav a{
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
    font-family:"Abyssinics SIL";
    color: #f4f2f2;
}
.active {
    background-color: rgb(39, 39, 39);
    padding:8px;
    border-radius: 25px;
}
i{
    background-color: transparent;  
    font-size: 20px;
}
li:hover{
    transform: scale(0.7);
}
@font-face {
    font-family:"Abyssinics SIL" ;
    src: url("./Abyssinica_SIL/AbyssinicaSIL-Regular.ttf");
}

/*register*/
.register-content{
    background-image: linear-gradient(to left,rgb(235, 223, 223),rgb(245, 221, 245));
    position: fixed;
    padding: 100px 100px;
    margin: 7% 33%; 
    border-radius:35px;   
    box-shadow: 0px 0px 7px 2px  rgb(31, 30, 30);
}
label{
    font-size: 20px;
    font-weight: bold;
}
input,textarea{
    border: 2px solid black;
    font-size: 20px;
    width: 300px;
    background: transparent;
    padding: 4px 6px;

}
input[type="button"]{
    cursor: pointer;
    border-radius: 25px;
    background: transparent;
    font-weight: bold;  
    width: 170px;  
}
input[type = "button"]:hover{
    background-color: rgb(22, 22, 22);
    color: #f5f1f1;
}

/* login*/
.login-content{
    background-image: linear-gradient(to left,rgb(235, 223, 223),rgb(245, 221, 245));
    position: fixed;
    padding: 100px 100px;
    margin: 10% 33%; 
    border-radius:35px; 
    box-shadow: 0px 0px 7px 2px  rgb(31, 30, 30);
}
/*gallery*/
.grid{
    position: absolute;
    top:120px;
    left: 50px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto  ;
    row-gap: 80px;
    column-gap: 90px;
  }
.one img{
   
    margin:10px 10px 10px 60px;
    width: 200px;
    height: 200px; 
}
.grid .one img{
    animation-name: image;
    animation-timing-function:ease-in; 
    animation-duration:5s;
}
@keyframes image{
    0%{
        transform:  perspective(100px) translateZ(-50px);
    }
    50%{
        transform: translateZ(100px);
    }
    100%{
        transform: translateZ(200px);
    }
    }
    .grid img:hover{
        border: 3px solid rgb(20, 19, 19);
        transform: scale(0.5);
    }
    /*home*/
    .content {
        text-align: center;
        position: absolute;
        left: 30px;
        right:30px;
        top:50px;
        padding: 190px 50px 30px 50px;    
    }
    .content h2{
        color: rgb(48, 47, 47);
        font-size: 40px;        
        animation-name: content;
        animation-duration: 3s;      
    }
    @keyframes content{
        0%{
        transform: perspective(100px) translatez(200px);
        }
        100%{
            transform: translateZ(-50px);
        }
    }
/*contact*/
.contact-content{
    background-image: url('images/contact.avif');
    background-repeat: no-repeat;   
    position: absolute; 
    margin:10% 30%;
    padding: 70px 250px 40px 50px;
    border-radius: 15px;
    box-shadow: 0px 4px 9px rgb(71, 71, 71);      
}
    